html{
    margin: 1px;
    padding: 0px;
    border: 0px;
    font-family: 'ubuntu', sans-serif;
    font: 500;
}

.parallax{
    background-image: url(FrontImage.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    border: 0px;
}



@media (max-width:700px){

    span#FrontLogo{
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(143, 143, 143);
        color: #fff;
        padding: 0.5em;
        font-size: 5vw;
        letter-spacing: 0.2em;
        border-radius: 8px;
    }
    .caption{
        position: absolute;
        left: 0;
        top: 40vh;
        width: 100%;
        text-align: center;
        color: #000;
    }
    #displayGrid{

    }
}

@media (min-width:701px){
    span#FrontLogo{
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(143, 143, 143);
        color: #fff;
        padding: 0.5em;
        font-size: 40px;
        letter-spacing: 0.2em;
        border-radius: 8px;
    }
    .caption{
        position: absolute;
        left: 0;
        top: 40vh;
        width: 100%;
        text-align: center;
        color: #000;
    }
    #displayGrid1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #donate{
        grid-column-start: 1;
        grid-column-end: 2;
    }

}

body{
    padding: 0px;
    margin: 0px;
}